<div class="col-md-6">
  <div class="card todo-card troop-{{troop-type}}" id="{{category}}">
    <div class="card-header">
      <div class="row">
        <div class="col-12 todo-cat">
          <h2>{{category}}</h2>
        </div>
        <div class="bonus">
          <img src="./images/{{troop-type}}.png" alt="{{troop-type}} pixel art" data-toggle="tooltip" data-placement="bottom" title="{{category}} tasks yield bonus {{troop-type}}s!">
        </div>
      </div>
    </div>
    <form data-category="{{category}}" class="task-form">
      <div class="form-group">
        <label class="sr-only" for="{{category}}-task-input">New task</label>
        <input type="text" class="form-control task-input" id="{{category}}-task-input" placeholder="Add a task" required>
      </div>
      <div class="task-options d-none">
        <div class="difficulty-select">
          <div class="form-check form-check-inline">
            <input class="form-check-input active" type="radio" name="{{category}}-difficulty" id="inlineRadio1" value="1" checked="">
            <label class="form-check-label" for="inlineRadio1">Easy</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{category}}-difficulty" id="inlineRadio2" value="2">
            <label class="form-check-label" for="inlineRadio2">Medium</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{category}}-difficulty" id="inlineRadio3" value="3">
            <label class="form-check-label" for="inlineRadio3">Hard</label>
          </div>
        </div>
        <button class="btn btn-primary btn-add-task" id="new-{{category}}-task" type="submit">Add Task</button>
      </div>
    </form>
    <ul class="tasks">
      {{!-- Loop through and add tasks in this category --}}
      {{#each exerciseTasks}} {{#unless completed}}
      <li data-id="{{id}}">
        <div class="task-view"><i class="far fa-square checkbox-link"></i><span class="task-name">{{name}}</span>
        <button class="btn btn-edit">Edit</button><button class="btn btn-delete">&times;</button></div>
        <form data-category="{{category}}" class="edit-task-form d-none">
          <div class="form-group">
            <label class="sr-only" for="{{category}}-task-input">New task</label>
            <input type="text" class="form-control task-input" id="{{category}}-task-input" value="{{name}}" required>
          </div>
          <div class="task-options text-center">
            <div class="difficulty-select">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="{{category}}-difficulty" id="inlineRadio1" value="1">
                <label class="form-check-label" for="inlineRadio1">Easy</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="{{category}}-difficulty" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">Medium</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="{{category}}-difficulty" id="inlineRadio3" value="3">
                <label class="form-check-label" for="inlineRadio3">Hard</label>
              </div>
            </div>
            <button class="btn btn-primary submit-edit" id="new-{{category}}-task" type="submit">Update</button>
            <button class="btn btn-danger btn-cancel">Cancel</button>
          </div>
        </form>
      </li>
      {{/unless}} {{/each}}
    </ul>
    <div class="accordion completed" id="{{category}}-completed">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link btn-expand collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{category}}-completed"
              aria-expanded="true" aria-controls="collapse-{{category}}-completed">
              Completed tasks
            </button>
          </h5>
        </div>
        <div id="collapse-{{category}}-completed" class="collapse collapse-completed hide" data-parent="#{{category}}-completed">

          <ul class="tasks completed">
            {{!-- loop through and add completed tasks in this category --}} {{#each exerciseTasks}} {{#if completed}}
            <li data-id="{{id}}">
              <span>{{name}}</span>
            </li>
            {{/if}} {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>